* {
    padding: 0;
    margin: 0;
    border: none;

}
.container {
    display: flex;
}
.nav {
    position: relative;
    width: 12vw;
    height: 100vh;
    background-color: black;
    color: white;
}
li:first-child {
    margin-top: 0;
}
ul {
    padding-top: 30px;
    width: 100%;
}
li {
    list-style: none;
    padding: 30px 0 10px 10px;
    border-bottom: 1px solid #5C5C5C;
}
.content-wrap{
    width: 88vw;
    padding: 0 70px;
}
/* .content {
    width: 88vw;
    padding: 0 100px;
} */
.content__img {
    display: block;
    margin: auto;
    margin-top: 30px; 

}
.content-column {
    display: flex;
}
.item {
    display: flex;
    
}
.content-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFEFEF;
    padding: 20px 10px;
}
.content-column {
    margin-top: 30px;
}
.footer {
    width: 100%;
    margin-top: 30px;
    padding: 30px 0;
}